*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  color: white;
}

.page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 65ch;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  object-fit: cover;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paragraph {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.75rem;
}

.link {
  text-decoration: none;
  color: oklch(69.6% 0.17 162.48);
  transition: color 150ms ease;
}

.link:hover {
  color: oklch(78% 0.17 162.48);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 2px solid oklch(69.6% 0.17 162.48);
  outline-offset: 2px;
}
